.container {
  position: relative;
  border: 3px solid #6AC5AC;
}

nav {
  position: absolute;
  left: 0px;
  width: 200px;
  border: 3px solid #D64078;
  margin: 0;
  padding: 10px 5px;
}

section {
  /* position is static by default */
  margin-left: 200px;
  position: static;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
  color: #96C02E;
  text-align: center;
  border: solid #96C02E;
}

body {
  margin-bottom: 120px;
  font-family: Arial;
}

p {
  margin: 0;
  color: #414142;
  border: 3px solid;
}

p.lefttop {
  position: absolute;
  left: 0px;
  top: 0px;
}

p.rightbottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.container>p {
  color: #414142;
  line-height: 25px;
  background-color: #6AC5AC;
  border-color: #6AC5AC;
  width: 150px;
}

nav>p {
  background-color: #D64078;
  border-color: #D64078;
  color: white;
}

.section123 {
  border: 3px solid #FDC72F;
  margin: 0px;
  position: relative;
  padding: 20px 20px;
}

.section123>p {
  position: absolute;
  background-color: #FDC72F;
  border: #FDC72F;
}

footer>p {
  position: absolute;
  background-color: #96C02E;
  border: #96C02E;
}

a {
  color: #D64078;
  text-decoration: none;
  line-height: 1.5em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: monospace;
  background-color: #ECECEC;
}

.grayback {
  background-color: #f1efef;
  color: #734161;
}